.item{
    width:98%;
    height: 210px;
    border:2px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
    /* opacity:0.2; */
    /* background-color: gray; */
    margin-top: 40px;
    margin-left: 20px;
    
}
.gem{
    width:80%;
    text-align: center;
    margin-left: 40px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.menu1{
    color:orange;
    margin-top: 20px;
}

